#this is editing an existing card. It's checking to see if @card exists because it's already created...maybe do a ternary at the top. 
<% if @card %>
  <%= form_with(model: [@list, @card], local: true, class: "ui form") do |f| %>
    <div class="field">
      <%= f.label "Card Title" %>
      <%= f.text_field :title, class: "input" %>
    </div>
    <div class="field">
      <%= f.label "Description" %>
      <%= f.text_field :description, class: "input" %>
    </div>
    <div class="field">
      <%= f.label "Priority" %>
      <%= f.number_field :priority, class: "input" %>
    </div>
  <%= f.submit nil, class: "ui blue button" %>
  <% end %>

#this is adding one to many cards and is creating a new one.
<% else %>
  <%= form_with(model: [@list, @cards], local: true, class: "ui form") do |f| %>
    <div class="field">
      <%= f.label "Card Title" %>
      <%= f.text_field :title, class: "input" %>
    </div>
    <div class="field">
      <%= f.label "Description" %>
      <%= f.text_field :description, class: "input" %>
    </div>
    <div class="field">
      <%= f.label "Priority" %>
      <%= f.number_field :priority, class: "input" %>
    </div>
    <%= f.submit nil, class: "ui blue button" %>
  <% end %>
<%end%>